<div class="container">
  <div class="row d-flex justify-content-center align-items-center flex-row">
    <div [style.background-color]="i === userService.getCurrentIndex() ? '#c2185b': ''" class="number-badge m-2" *ngFor="let n of
    numSequence(userService.getMaxIndex()+1);
           let i = index;">{{i}}</div>
  </div>
  <div class="row d-flex justify-content-between p-2 align-items-center">
    <div class="col d-flex justify-content-start">
      <button mat-raised-button color="primary" class="nav-button"
              [disabled]="userService.isPrevDisabled()"
              (click)="userService.prevPage()"
              *ngIf="userService.getCurrentIndex() !== 0">Back
      </button>

    </div>

    <div class="col d-flex justify-content-center p-2 align-items-center" *ngIf="userService.showGiveUp()">
      <button mat-raised-button color="warn" class="nav-button"
              (click)="userService.giveUp()">Give up!
      </button>
    </div>

    <div class="col d-flex justify-content-end">
      <button mat-raised-button [color]="this.userService.getMaxIndex() === this.userService.getCurrentIndex() ? 'warn' : 'primary'"
              class="nav-button"
              [disabled]="userService.isNextDisabled()"
              (click)="userService.nextPage()"
              [routerLink]="getRouterLink()">
        <ng-container *ngIf="userService.getCurrentIndex() === 0">Start!</ng-container>
        <ng-container *ngIf="userService.getCurrentIndex() !== 0 && userService.getMaxIndex() !== userService.getCurrentIndex()">Next
        </ng-container>
        <ng-container *ngIf="userService.getMaxIndex() === userService.getCurrentIndex()">{{getEndButtonTxt()}}</ng-container>
      </button>
    </div>

  </div>
</div>
