<mat-toolbar class="h-100 py-2">
  <div class="row w-100">

    <div class="col d-flex align-items-center">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigate('/home')">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item (click)="navigate('/learn')">
            <mat-icon>school</mat-icon>
            <span>Your learning</span>
          </button>
          <button mat-menu-item (click)="navigate('/train')" [disabled]="!userService.isTrainingOpen()">
            <mat-icon>fitness_center</mat-icon>
            <span>Your training</span>
          </button>
          <button mat-menu-item (click)="navigate('/results')" [disabled]="!userService.isResultsOpen()">
            <mat-icon>scoreboard</mat-icon>
            <span>Your results</span>
          </button>
          <button mat-menu-item (click)="navigate('/stats')">
            <mat-icon>diversity_1</mat-icon>
            <span>Statistics</span>
          </button>
          <button mat-menu-item (click)="userService.clickClearCache()">
            <mat-icon>delete</mat-icon>
            <span>Clear cache</span>
          </button>
        </mat-menu>
      </button>
      <div class="text-sm">
        {{userService?.userItem?.name}}
      </div>
      <button mat-icon-button (click)="userService.editUserName()">
        <mat-icon [color]="'primary'">edit</mat-icon>
      </button>
    </div>

    <div class="col justify-content-end align-items-center d-flex">
      <mat-chip-list>
        <mat-chip color="primary" (click)="userService.clickOnPoints()">
          {{userService.getTotalUserPoints()}} pts
        </mat-chip>
      </mat-chip-list>

    </div>
  </div>


</mat-toolbar>
