<div class="container h-100 mb-5">

  <ng-container *ngIf="userService.isResultsOpen(); else Nope">

    <div class="row d-flex justify-center align-items-center">
      <div class="col-auto">
        <app-chart [type]="'points'" [compareSelf]="false"></app-chart>
      </div>
      <div class="col-auto">
        <app-chart [type]="'mindmap'" [compareSelf]="false"></app-chart>
      </div>
      <div class="col-auto">
        <app-chart [type]="'squares'" [compareSelf]="false"></app-chart>
      </div>
      <div class="col-auto">
        <app-chart [type]="'function'" [compareSelf]="false"></app-chart>
      </div>
      <div class="col-auto">
        <app-chart [type]="'learning'" [compareSelf]="false"></app-chart>
      </div>
    </div>


  </ng-container>

  <ng-template #Nope>
    <div
      class="w-100 h-100 text-center d-flex justify-content-center align-items-center p-5 text-2xl text-white justify-center text-center anton-font">
      You can see stats after completing your learning and training ;)
    </div>
  </ng-template>

</div>
