


<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>


<h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
  Main
  <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
              Hero Message
            </span>
  to sell yourself!
</h1>



<div class="flex-shrink max-w-full px-4 w-full md:w-9/12 lg:w-1/2 self-center lg:pr-12">
  <div class="text-center lg:text-left mt-6 lg:mt-0">
    <div class="mb-12">
      <ngx-typed-js [strings]="['amazing.', 'awesome.', 'smart.', 'genius.']" [shuffle]="true" [typeSpeed]="50" [startDelay]="500"
                    [backSpeed]="50" [backDelay]="2000" [showCursor]="true">
        <h1 class="text-4xl leading-normal text-white mb-4 ">Human Computable passwords are  <span
          class="font-bold typing bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"></span></h1>
      </ngx-typed-js>
    </div>

  </div>
</div>


